@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Dana";
    src: local("Dana"), url("./fonts/DanaFaNum-DemiBold.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana";
    src: local("Dana Medium"),
      url("./fonts/DanaFaNum-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana";
    src: local("Dana Regular"),
      url("./fonts/DanaFaNum-Regular.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba";
    src: local("Dana Bold"), url("./fonts/Morabba-Bold.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba";
    src: local("Morabba Light"),
      url("./fonts/Morabba-Light.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba";
    src: local("Morabba Medium"),
      url("./fonts/Morabba-Medium.woff2") format("woff2");
    font-display: swap;
  }
}